# SQlite Zone Demo - Local Development Environment
# Usage: ./run-local.sh --env-file PATH/TO/FILE/.env-local

# Sequencer node endpoint (for submitting transactions)
SEQUENCER_NODE_ENDPOINT=https://devnet.blockchain.logos.co/node/0/
SEQUENCER_NODE_AUTH_USERNAME=
SEQUENCER_NODE_AUTH_PASSWORD=

#Path to Sequencer's DB
SEQUENCER_DB_PATH=./database.db

# Path to signing key file
SEQUENCER_SIGNING_KEY_PATH=

# Path to queue file for pending SQL statements
QUEUE_FILE=./query.txt

# Path to checkpoint file for recovery
CHECKPOINT_PATH=./sequencer.checkpoint

# Indexer node endpoint (for reading blocks - can be different node)
INDEXER_NODE_ENDPOINT=https://devnet.blockchain.logos.co/node/1/
INDEXER_NODE_AUTH_USERNAME=
INDEXER_NODE_AUTH_PASSWORD=

# Path to Indexer's local db
INDEXER_DB_PATH=./indexer.db